[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"jinja2" = "*"
python-dotenv = "*"
flake8 = "*"
frozen-flask = "*"
black = "*"

[dev-packages]
"flake8" = "*"

[pipenv]
allow_prereleases = true
