{% extends "team.j2" %}
{% block vis %}
{% if plots is not none %}
<h2>First Wisdom Runes</h2>
Rune information from {{replays}} replays.<br>
    {% for p in plots %}
        <img src={{p}}>
    {% endfor %}
{% endif %}
{% endblock vis %}