{% extends "team.j2" %}
{% block vis %}
<h2>Drafts</h2>
<span class="winner_box">Winning Team</span>
<br>
{% if plots["plot_drafts"] is not none %}
    {% if plots["plot_drafts"] is string %}
        <img class='img-fit' src={{plots["plot_drafts"]}}>
    {% else %}
    <script type="text/javascript">
        console.log("Draft.js");
        {% include "plots/draft.js" %}
    </script>
    {% endif %}
{% endif %}
{% endblock vis %}