{% extends "team.j2" %}
{% block vis %}
{% if plots['pos_plots'] is not none %}
<h2>Player Positions</h2><br>
    {% for plot in plots['pos_plots'] %}
        <h2>{{plots['pos_names'][loop.index - 1]}}</h2><br>
        <img src={{url_for('static', filename=plot)}}><br>
    {% endfor %}
{% endif %}
{% endblock vis %}