<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DOTA2 DataVis</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
{% block sidebar %}Sidebar goes here!{% endblock sidebar %}
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
</body>
</html>