{% extends "base.j2" %}

{% block content %}
    {% with navigators=navigators %}
        {% include "sidebar.j2" %}
    {% endwith %}
{% endblock content %}

<!-- Page content -->
<div class="main">
Main bit?
</div>