{% extends "base.j2" %}
{% block content %}
{% include "topbar.j2" %}
{% with navigators=navigators %}
{% include "sidebar.j2" %}
{% endwith %}
<div class="main">
{% if league is not none %}
<h1>{{league}}</h1>
<br>
{% endif %}
{% if plot is not none %}
    {% if 'all' in plot %}
        <h2>All</h2>
        <img class='img-fit' src={{url_for('static', filename=plot['all'])}}>
    {% endif %}
    {% if 'phases' in plot %}
        <h2>Phases</h2>
        <img class='img-fit' src={{url_for('static', filename=plot['phases'])}}>
    {% endif %}
{% endif %}
</div>
{% endblock content %}