<!-- Side navigation -->
<div class="sidenav", id="navbar">
  {% for nav in navigators %}
    {% if nav[1] is none %}
        {% if nav[0] is none %}
            <hr>
        {% else %}
            <hr>
            <div class="header">{{nav[0]}}</div>
        {% endif %}
    {% elif nav[1] == "__dataset__" %}
      {% if dataset_list is not none %}
      <button class="dropdown-btn">Data Sets
      <div class="fa fa-caret-down">▼</div>
      </button>
      <div class="dropdown-container">
      {% for set in dataset_list %}
        <a href={{ url_for(provider, team=team, dataset=set, side=side, postfix=postfix)}}>{{set}}</a>
      {% endfor %}
      </div>
      {% endif %}
    {% else %}
        <a href={{nav[1]}}>{{nav[0]}}</a>
    {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
// Adapted from:
// https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp
//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>