{% extends "base.j2" %}
{% block content %}
{% include "topbar.j2" %}
{% with navigators=navigators, category=category %}
{% include "sidebar.j2" %}
{% endwith %}
<div class="main">
{% if plot is not none %}
    <img class='img-fit' src={{url_for('static', filename=plot)}}>
{% endif %}
</div>
{% endblock content %}