<!DOCTYPE html>
{% extends "base.j2" %}
{% include "topbar.j2" %}
{% block sidebar %}
    {% with navigators=navigators, dataset_list=dataset_list, team=team, provider=provider, active=active%}
        {% include "sidebar_team.j2" %}
    {% endwith %}
{% endblock sidebar %}
{% block content %}
<div class="main">
<h1>{{team}}</h1><br>
{% block vis %}{% endblock vis %}
</div>
{% endblock content %}