<!-- Side navigation -->
<div class="topnav header", id="topbar">
    <a href={{ url_for("index")}}>Teams</a>
    <a href={{ url_for("meta", meta_label="7.41", meta_key="combined_summary")}}>Meta 7.41</a>
    <a href={{ url_for("meta", meta_label="7.41c", meta_key="combined_summary")}}>Meta 7.41c</a>
</div>